<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Acclaim: Buy and Sell AI ART</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/8caf2b2a17.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__logo-box">
        <img
          src="../img/artificial-intelligence-icon-png-14762.png"
          alt="site logo"
          class="header__logo"
        />
      </div>
      <div class="header__text-box u-margin-bottom-top-small">
        <h1 class="heading-primary">
          <span class="heading-primary--main"
            >accl<span class="ai">ai</span>m</span
          >
          <span class="heading-primary--sub"
            ><i>'bring the digital to the physical'</i></span
          >
        </h1>
        <a href="#featured-art" class="header-btn btn btn--white btn--animated"
          >browse featured art</a
        >
      </div>
    </header>
    <main>
      <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">discover ai generated art</h2>

        </div>
        <div class="paragraph-row">
          <div class="flex-paragraph">
            <h3 class="heading-tertiary u-margin-bottom-small">
              browse and buy
            </h3>
            <p class="paragraph">
              Browse and buy the worlds most incredible ai generated art and
              bring it into the physical with one click of a button
            </p>
          </div>
          <div class="flex-paragraph">
            <h3 class="heading-tertiary u-margin-bottom-small">
              become a broker
            </h3>
            <p class="paragraph">
              Bring your art into the physical world and find clients around the
              globe who want to proudly display your finished work.
            </p>
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-1-of-2">
            <div class="composition composition-left">
              <img
                src="./img/sufi09.png"
                alt="photo2"
                class="composition__photo composition__photo--p1-a"
              />
              <img
                src="./img/cat03.png"
                alt="photo1"
                class="composition__photo composition__photo--p2-a"
              />
              <img
                src="./img/purple.png"
                alt="photo3"
                class="composition__photo composition__photo--p3-a"
              />
            </div>
          </div>
          <div class="flex-1-of-2">
            <div class="composition composition-right">
              <img
                src="./img/car1.png"
                alt="photo1"
                class="composition__photo composition__photo--p1"
              />

              <img
                src="./img/outdoors1.png"
                alt="photo2"
                class="composition__photo composition__photo--p2"
              />

              <img
                src="./img/warrior1.png"
                alt="photo3"
                class="composition__photo composition__photo--p3"
              />
            </div>
          </div>
        </div>
        </div>
      </section>
      <!-- features -->
      <section class="section-features" >
        <div class="flex-row-features">
          <!-- single feature card -->
          <div class="flex-1-0f-4">
              <div class="feature-box">
                <i class="feature-box__icon icon-basic-heart"> </i>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  meet artists
                </h3>
                <p class="feature-box__text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi voluptatem perspiciatis optio quod, quaerat iusto nostrum molestiae repudiandae officiis quos maxime nam itaque quidem!
                </p>
              </div>
            </div>
            <!-- single feature card end -->
            <!-- single feature card start-->
            <div class="flex-1-of-4">
              <div class="feature-box">
                <i class="feature-box__icon icon-basic-anchor"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">
                  find new prints
                </h3>
                <p class="feature-box__text">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, provident ea temporibus sapiente officia corrupti nobis aliquam exercitationem deserunt culpa mollitia molestias minima officiis aliquid.
                </p>
              </div>
            </div>
            <!-- single feature card end -->
            <!-- single feature card start-->
            <div class="flex-1-of-4">
                <div class="feature-box">
                  <i class="feature-box__icon icon-basic-map"></i>
                  <h3 class="heading-tertiary u-margin-bottom-small">
                    pick a print size
                  </h3>
                  <p class="feature-box__text">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure enim eligendi earum vero officiis debitis laboriosam molestias tenetur odit corporis, assumenda magni recusandae, dolore adipisci.
                  </p>
                </div>
              </div>
              <!-- single feature card end -->
              <!-- single feature card start-->
              <div class="flex-1-of-4">
                  <div class="feature-box">
                    <i class="feature-box__icon icon-basic-helm"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">
                      have it shipped
                    </h3>
                    <p class="feature-box__text">
                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut ratione molestias minima perferendis atque dolorem sit, iusto sapiente vel in amet aliquid ad veniam unde?
                    </p>
                  </div>
                </div>
                <!-- single feature card end -->
        </div>
      </section>
      <section class="section-art" id="featured-art">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">our featured art</h2>
        </div>
        <div class="row">
          <!-- start of single card -->
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">&nbsp;</div>
                <h4 class="card__heading">
                  <br />
                  <span class="card__heading-span card__heading-span--1">
                    The Colluseum
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Letter</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Starting at</p>
                    <p class="card__price-value">$75</p>
                  </div>
                  <a href="login" class="card-btn btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of single card -->
          <!-- start of single card -->
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">&nbsp;</div>
                <h4 class="card__heading">
                  <br />
                  <br />
                  <span class="card__heading-span card__heading-span--2">
                    Sad but True
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Post Card</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">starting at</p>
                    <p class="card__price-value">$55</p>
                  </div>
                  <a href="/login" class="card-btn btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of single card -->
          <!-- start of single card -->
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">&nbsp;</div>
                <h4 class="card__heading">
                  <br /><br />
                  <span class="card__heading-span card__heading-span--3">
                    Vengence
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Letter</li>
                    <li>Post Card</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">starting at</p>
                    <p class="card__price-value">$85</p>
                  </div>
                  <a href="/login" class="card-btn btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of single card -->
        </div>
        <div class="u-center-text u-margin-bottom-huge">
          <a href="/login" class="btn btn--green">Discover more</a>
        </div>
      </section>
    </main>
    <footer class="footer">
      <ul class="social-icons" id="footer-icons">
        <!-- single item -->
        <li>
          <a href="https://www.facebook.com" class="social-icon">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.linkedin.com" class="social-icon">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.squarespace.com" class="social-icon">
            <i class="fa-brands fa-squarespace"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.behance.com" class="social-icon">
            <i class="fa-brands fa-behance"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.instagram.com" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <!-- end of single item -->
      </ul>

      <p>&copy; <span id="date"></span> Acclaim. All rights reserved.</p>
    </footer>
</body>

</html>
