<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script
      src="https://kit.fontawesome.com/8caf2b2a17.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="login-main__container">
      <header class="login-header">
        <div class="login-header__logo-box">
          <img
            src="../img/artificial-intelligence-icon-png-14762.png"
            alt="site logo"
            class="login-header__logo"
          />
        </div>

        <div class="login-header__text-box">
          <a
            href="/login/1"
            class="login-btn login-buyer-btn btn btn--white btn--animated"
            >buyers</a
          >

          <h1 class="login-heading-primary">
            <span class="login-heading-primary--main">Login</span>
          </h1>
          <a
            href="/login/2"
            class="login-btn login-seller-btn btn btn--white btn--animated"
            >sellers</a
          >
        </div>
      </header>
    </main>
    <footer class="footer">
      <ul class="social-icons" id="footer-icons">
        <!-- single item -->
        <li>
          <a href="https://www.facebook.com" class="social-icon">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.twitter.com" class="social-icon">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.twitter.com" class="social-icon">
            <i class="fa-brands fa-squarespace"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.twitter.com" class="social-icon">
            <i class="fa-brands fa-behance"></i>
          </a>
        </li>
        <!-- end of single item -->
        <!-- single item -->
        <li>
          <a href="https://www.twitter.com" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <!-- end of single item -->
      </ul>
      <p>&copy; <span id="date"></span> Acclaim. All rights reserved.</p>
    </footer>
  </body>
</html>
