.search {
  display: none;
  justify-content: space-evenly;
}

.filter-products {
  font-size: 3em;
  color: black;
}

img {
  width:  600px;
  height: 600px;

}

.featured {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

}

.desc {
  font-weight: 600;
  font-size: large;
  color: black;
}

.search-tools {
  display: flex;
  justify-content: space-evenly;
}
